body {
  max-width: 80vw;
  margin: auto;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 18px;;
}

ol {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  list-style: none;
}

li {
  padding: 10px;
}

.light {
  background-color: #c2d6d6;
}
